.message {
    display: flex;
}

.bubble {
    position: relative;
    background: #363b39;
    color: #afc5ac;
    filter: drop-shadow(5px 5px 4px rgba(163, 163, 163, 0.93));
    text-align: center;
    border-radius: 10px;
    padding: 10px 5px 5px 10px;
    height: fit-content;
}

.bubble:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-color: transparent #363b39;
    border-width: 9px 23px 9px 0;
    top: 88%;
    left: -16px;
    margin-top: -9px;
}

.userMessage {
    display: grid;
    justify-content: space-between;
    align-items: baseline;
}

.name {
    color: #968faf;
    padding: 0 0 5px 0;
}

.messageText {
    grid-row: 1/2;
    grid-column: 1/2;
}

.name,
.messageText {
    text-align: left;
    font-weight: bold;
}

.time {
    grid-row: 2/3;
    grid-column: 2/3;
    color: #7c9180;
}

.userAvatar {
    align-self: center;
    padding: 15px;
}

.userAvatar img {
    width: 50px;
    border-radius: 50%;
}